body {
    background: linear-gradient(90deg, #3ca13a 0%, #834907 100%);
}



.nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: brown;
}


.navbar-brand img {
    width: 30px;
}

.navbar-toggler {
    background-color: blue;
}

.sitebar{
    color: rgb(55, 5, 78);
    background: linear-gradient(270deg, #3ca13a 0%, #834907 100%);

}